# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Test for player names - INVALID
Testing if not entering a name works


### Test Data Used

I will enter an Invalid/Blank value
### Test Result

![CheckForBlankName.gif](screenshots/CheckForBlankName.gif)

It worked as expected and did not let me enter a blank value

---

## 

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

